#
# frontned
#
frontned/node_modules/
frontned/.pnp
frontned/.pnp.js
frontned/.yarn/install-state.gz

# testing
frontned/coverage

# next.js
frontned/.next/
frontned/out/

# production
frontned/build

# misc
frontned/.DS_Store
frontned/*.pem

# debug
frontned/npm-debug.log*
frontned/yarn-debug.log*
frontned/yarn-error.log*

# local env files
frontned/.env*.local

# vercel
frontned/.vercel

# typescript
frontned/*.tsbuildinfo
frontned/next-env.d.ts

# 
# database
#
database/.password.env 
